.hero {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: relative; 
}

.content {
  width: 50vw; 
  text-align: left;
  color: #F4FAF8;
  z-index: 1; 
}

.image-container {
  width: 50vw;
  height: 90vh;
  display: flex;
  justify-content: flex-end; 
  padding-right: 5vw; 
  position: relative;
  z-index: 1; 
}

.image-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 50vw; 
  height: 80vh;
  background: radial-gradient(circle, rgba(0, 255, 247, 0.345), transparent 100%); 
  z-index: 0;
  filter: blur(40px);
  pointer-events: none; 
}

.hero-image {
  max-width: 100%; 
  height: auto;
  z-index: 1;
}

.content h1 {
  font-size: 4rem;
  margin: 0.5vh 0.65vw; 
  background-image: linear-gradient(to right, #15F4EE, #FFFFFF); 
  -webkit-background-clip: text; 
  color: transparent;
}

.content p {
  font-size: 1.125rem; 
  margin: 0.8vh 0.65vw; 
}
