.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer p {
    margin: 0;
}