table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #00030F;
  font-weight: bold;
}

.branch-buttons {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.branch-buttons button {
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 16px;
}

.branch-buttons button.active {
  background-color: grey;
  color: #00030F;
}